body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.4;
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(252, 79, 79), rgb(82, 82, 238)) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 50%;
    margin: 3.125rem auto 0 auto;
}

h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0px;    
}

#description {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px rgba(3, 3, 3, 0.49);
}

label {
    display: flex;
    font-size: 1.125rem;
    margin-bottom: 5px;
}

p {
    font-size: 1.125rem;
}

form {
    padding: 2.5rem 2rem;
    background: rgb(255, 235, 205, 0.3);
    border-radius: 5px;
}

.form-group {
    margin-top: 0px;
    margin: 0 0 20px 0;
}

#name,#age,#email {
    display: block;
    width: 100%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.331);
    border-radius: 5px;
}

#dropdown {
    display: block;
    width: 100%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.331);
    border-radius: 5px;
}

input,
button,
select {
    margin: 5px 5px 0 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    width: 100%;
    height: 80px;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.submit-button {
    width: 100%;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    background-color: rgb(252, 79, 79);
    font-family: inherit;
}